.layout {
  display: flex;
  min-height: 100vh;
}
.main {
  margin-left: 260px;
  width: calc(100% - 260px);
  background: var(--color-f8f9fa);
  transition: margin-left 0.2s ease, width 0.2s ease;
}
.mainCollapsed {
  margin-left: 72px;
  width: calc(100% - 72px);
}
.content {
  padding: 20px 40px;
}
