.card {
  background: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-rgba-0-0-0-005);
  padding: 20px;
  border: 1px solid var(--color-e5e7eb);
  min-width: 300px;
  margin: 10px;
}

.canvasContainer {
  position: relative;
  height: 250px;
}

.card h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: var(--color-333);
}
