.navbar {
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  box-shadow: 0 2px 10px var(--color-rgba-0-0-0-005);
  border-bottom: 1px solid var(--color-e5e7eb);
  position: sticky;
  top: 0;
  z-index: 50;
  margin-bottom: 20px;
}

.logo img {
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.logo img:hover {
  transform: scale(1.05);
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon,
.userIcon {
  font-size: 1.4rem;
  color: var(--color-333);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.icon:hover,
.userIcon:hover {
  color: var(--color-0070f3);
  transform: scale(1.15);
}

.userMenu {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 38px;
  background: var(--color-white);
  list-style: none;
  border-radius: 8px;
  border: 1px solid var(--color-e5e7eb);
  overflow: hidden;
  box-shadow: 0 6px 12px var(--color-rgba-0-0-0-008);
  width: 160px;
  padding: 5px 0;
  animation: fadeIn 0.2s ease;
}

.dropdown li {
  padding: 10px 15px;
  font-size: 0.95rem;
  cursor: pointer;
  color: var(--color-333);
  transition: background 0.2s ease;
}

.dropdown li:hover {
  background: var(--color-f9fafb);
  color: var(--color-0070f3);
}

.menuRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuIcon {
  font-size: 1rem;
  width: 18px;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.pageTitle{
  font-size: 20px;
  color: var(--color-111827);
}
