.sidebar {
  background: var(--color-white);
  width: 260px;
  height: 100vh;
  border-right: 1px solid var(--color-e5e7eb);
  box-shadow: 2px 0 8px var(--color-rgba-0-0-0-003);
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
}

/* Menu List */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.sidebar li {
  border-radius: 8px;
  transition: background 0.2s ease, transform 0.1s ease, color 0.2s ease;
}

.sidebar li:hover,
.sidebar li.active {
  background: var(--color-primary);
  transform: translateX(3px);
}

.sidebar a {
  text-decoration: none;
  color: var(--color-text);
  display: block;
  padding: 18px 15px;
  border-bottom: 1px solid var(--color-blue-gray);
  font-size: 15px;
  transition: color 0.2s ease;
  font-size: var(--base-font-size);
}

.sidebar li:hover a,
.sidebar li.active a {
  color: var(--color-white);
}

/* Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-d1d5db);
  border-radius: 5px;
}

/* Logo Section */
.logo {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-blue-gray);
}

/* Active fix cleanup */
.sidebar a.active {
  background: var(--color-secondary);
  color: var(--color-white);
  font-weight: 500;
}
